In [1]:
%matplotlib inline
import pandas as pd
import numpy as np

In [10]:
title = pd.read_csv('titles.csv')
cast = pd.read_csv('cast.csv')
rel_dates = pd.read_csv('release_dates.csv')

In [8]:
title.head(2)

                title  year
0  Tasveer Mere Sanam  1996
1            Only You  1994

In [9]:
cast.head(3)

                 title  year      name   type        character     n
0       Closet Monster  2015  Buffy #1  actor          Buffy 4  31.0
1      Suuri illusioni  1985    Homo $  actor           Guests  22.0
2  Battle of the Sexes  2017   $hutter  actor  Bobby Riggs Fan  10.0

In [11]:
rel_dates.head(3)

                   title  year   country        date
0  #73, Shaanthi Nivaasa  2007     India  2007-06-15
1                  #BKKY  2016  Cambodia  2017-10-12
2                #Beings  2015   Romania  2015-01-29

### How many movies are listed in the titles dataframe?

In [16]:
title[['title']].count()

title    244914
dtype: int64

### What are the earliest two films listed in the titles dataframe?

In [19]:
earliest = title.sort_values('year')

In [32]:
[i for i in earliest['title'].head(2) ]

['Miss Jerry', 'The Startled Lover']

### How many movies have the title "Hamlet"?

In [34]:
len(title[title['title']=='Hamlet'])

20

### How many movies are titled "North by Northwest"?

In [35]:
len(title[title['title']=='North by Northwest'])

1

### When was the first movie titled "Hamlet" made?

In [41]:
title[title['title']=='Hamlet'].sort_values('year').iloc[0,1]

1910

### List all of the "Treasure Island" movies from earliest to most recent.

In [42]:
title[title.title == 'Treasure Island'].sort_values('year')

                  title  year
55686   Treasure Island  1918
196514  Treasure Island  1920
141822  Treasure Island  1934
77354   Treasure Island  1950
65051   Treasure Island  1972
37238   Treasure Island  1973
173051  Treasure Island  1985
27076   Treasure Island  1999

### How many movies were made in the year 1950?

In [44]:
title[title['year'] == 1950].shape[0]

1113

In [45]:
len(title[title['year'] == 1950])

1113

### How many movies were made in the year 1960?

In [46]:
len(title[title['year'] == 1960])

1549

### How many movies were made from 1950 through 1959?

In [52]:
len(title[(title['year']>=1950) & (title['year']<=1959)])

12934

### In what years has a movie titled "Batman" been released?

In [59]:
years = title[title.title == "Batman"]
years

         title  year
39349   Batman  1943
240896  Batman  1989

### How many roles were there in the movie "Inception"?

In [60]:
len(cast[cast.title == 'Inception'])

78

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [69]:
x = cast[cast.title == 'Inception']
y = x[x.n.isnull()]
len(y)

27

### But how many roles in the movie "Inception" did receive an "n" value?

In [71]:
z = cast[cast.title == 'Inception']
c = z[z.n.notnull()]
len(c)

51

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [77]:
z = cast[cast.title=='North by Northwest']
x = a[a.n.notnull()]
x

,title,year,name,type,character,n
149008,Inception,2010,Peter Basham,actor,Fischer's Jet Captain,44.0
183937,Inception,2010,Tom Berenger,actor,Browning,8.0
260128,Inception,2010,Virgile Bramly,actor,Bridge Sub Con,29.0
326745,Inception,2010,Michael Caine,actor,Miles,11.0
333415,Inception,2010,Earl Cameron,actor,Elderly Bald Man,20.0
433867,Inception,2010,Nicolas Clerc,actor,Bridge Sub Con,26.0
444385,Inception,2010,Adam (IV) Cole,actor,Bar Sub Con,34.0
517227,Inception,2010,Jean-Michel Dagory,actor,Bridge Sub Con,30.0
590576,Inception,2010,Leonardo DiCaprio,actor,Cobb,1.0
709436,Inception,2010,Russ Fega,actor,Cab Driver,23.0
737322,Inception,2010,Mark Fleischmann,actor,Penrose Sub Con,32.0
807795,Inception,2010,Michael Gaston,actor,Immigration Officer,45.0
812135,Inception,2010,Johnathan Geare,actor,James (3 years),17.0
832083,Inception,2010,Carl Gilliard,actor,Lobby Sub Con,40.0
833376,Inception,2010,Jack Gilroy,actor,Old Cobb,50.0
859993,Inception,2010,Joseph Gordon-Levitt,actor,Arthur,2.0
910757,Inception,2010,Lukas Haas,actor,Nash,12.0
940923,Inception,2010,Tom Hardy,actor,Eames,4.0
967176,Inception,2010,Ryan Hayward,actor,Lawyer,21.0
1170785,Inception,2010,Tim Kelleher,actor,Thin Man,24.0
1309851,Inception,2010,Tai-Li Lee,actor,Tadashi,13.0
1455534,Inception,2010,Tohoru Masamune,actor,Japanese Security Guard,18.0
1615709,Inception,2010,Cillian Murphy,actor,Robert Fischer,7.0
1618527,Inception,2010,Jack (III) Murray,actor,Bar Sub Con,35.0
1668790,Inception,2010,Magnus Nolan,actor,James (20 months),15.0
1701902,Inception,2010,Yuji Okumoto,actor,Saito's Attendant,19.0
1812091,Inception,2010,Andrew Pleavin,actor,Businessman,47.0
1826027,Inception,2010,Pete Postlethwaite,actor,Maurice Fischer,10.0
1861317,Inception,2010,Marc Raducci,actor,Lobby Sub Con,39.0
1876301,Inception,2010,Dileep Rao,actor,Yusuf,6.0
2049179,Inception,2010,Felix Scott,actor,Businessman,46.0
2250605,Inception,2010,Jason Tendell,actor,Fischer's Driver,49.0
2267383,Inception,2010,Kraig Thornber,actor,Bar Sub Con,36.0
2406531,Inception,2010,Ken Watanabe,actor,Saito,5.0
2614557,Inception,2010,Natasha Beaumont,actress,Bar Sub Con,38.0
2765969,Inception,2010,Marion Cotillard,actress,Mal,9.0
2776554,Inception,2010,Helena Cullinan,actress,Penrose Sub Con,31.0
2807441,Inception,2010,Coralie Dedykere,actress,Bridge Sub Con,27.0
2932657,Inception,2010,Claire Geare,actress,Phillipa (3 years),14.0
2932664,Inception,2010,Taylor Geare,actress,Phillipa (5 years),16.0
3151982,Inception,2010,Silvie Laguna,actress,Bridge Sub Con,28.0
3158892,Inception,2010,Shelley Lang,actress,Penrose Sub Con,33.0
3203564,Inception,2010,Alex (II) Lombard,actress,Lobby Sub Con,42.0
3225843,Inception,2010,Jill Maddrell,actress,Lobby Sub Con,41.0
3343512,Inception,2010,Angela Nathenson,actress,Bar Sub Con,37.0
3359825,Inception,2010,Miranda Nolan,actress,Flight Attendant,22.0
3387147,Inception,2010,Ellen Page,actress,Ariadne,3.0
3444628,Inception,2010,Nicole Pulliam,actress,Lobby Sub Con,43.0
3473041,Inception,2010,Lisa (II) Reynolds,actress,Private Nurse,48.0
3480170,Inception,2010,Talulah Riley,actress,Blonde,25.0
3731263,Inception,2010,Shannon Welles,actress,Old Mal,51.0

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [80]:
cast[(cast.title == "Sleuth") & (cast.year == 1972)].sort_values('n')

,title,year,name,type,character,n
1705394,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1.0
326773,Sleuth,1972,Michael Caine,actor,Milo Tindle,2.0
373876,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3.0
1465483,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4.0
2724553,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5.0
1448690,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6.0

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [85]:
s = cast[(cast.title == "Sleuth") & (cast.year == 2007)].sort_values('n')
a = s[s.n.notnull()]

In [86]:
a

          title  year           name   type    character    n
326774   Sleuth  2007  Michael Caine  actor       Andrew  1.0
1293634  Sleuth  2007       Jude Law  actor         Milo  2.0
1805907  Sleuth  2007  Harold Pinter  actor  Man on T.V.  3.0

### How many roles were credited in the silent 1921 version of Hamlet?

In [87]:
len(cast[(cast.title == 'Hamlet') & (cast.year == 1921)])

9

### How many roles were credited in Branagh’s 1996 Hamlet?

In [90]:
len(cast[(cast.title == 'Hamlet') & (cast.year == 1996)])

54

### How many "Hamlet" roles have been listed in all film credits through history?

In [91]:
len(cast[(cast.title == 'Hamlet')])

342

### How many people have played an "Ophelia"?

In [92]:
cast.head(1)

            title  year      name   type character     n
0  Closet Monster  2015  Buffy #1  actor   Buffy 4  31.0

In [94]:
len(cast[cast.character == "Ophelia"])

117

### How many people have played a role called "The Dude"?

In [95]:
len(cast[cast.character == 'The Dude'])

19

### How many people have played a role called "The Stranger"?

In [96]:
len(cast[cast.character == 'The Stranger'])

212

### How many roles has Sidney Poitier played throughout his career?

In [97]:
cast.head(3)

                 title  year      name   type        character     n
0       Closet Monster  2015  Buffy #1  actor          Buffy 4  31.0
1      Suuri illusioni  1985    Homo $  actor           Guests  22.0
2  Battle of the Sexes  2017   $hutter  actor  Bobby Riggs Fan  10.0

In [98]:
len(cast[cast.name == "Sidney Poitier"])

43

### How many roles has Judi Dench played?

In [99]:
len(cast[cast.name == "Judi Dench"])

55

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [101]:
cast[(cast.name == "Cary Grant") & (cast.n == 2) & (cast.year <= 1940)].sort_values('year')

,title,year,name,type,character,n
871418,Madame Butterfly,1932,Cary Grant,actor,Lieutenant B.F. Pinkerton,2.0
871454,The Woman Accused,1933,Cary Grant,actor,Jeffrey Baxter,2.0
871446,The Eagle and the Hawk,1933,Cary Grant,actor,Henry Crocker,2.0
871412,I'm No Angel,1933,Cary Grant,actor,Jack Clayton,2.0
871436,She Done Him Wrong,1933,Cary Grant,actor,Captain Cummings,2.0
871393,Born to Be Bad,1934,Cary Grant,actor,Malcolm Trevor,2.0
871455,Thirty Day Princess,1934,Cary Grant,actor,Porter Madison III,2.0
871440,Sylvia Scarlett,1935,Cary Grant,actor,Jimmy Monkley,2.0
871401,Enter Madame!,1935,Cary Grant,actor,Gerald Fitzgerald,2.0
871465,Wings in the Dark,1935,Cary Grant,actor,Ken Gordon,2.0
871463,Wedding Present,1936,Cary Grant,actor,Charlie Mason,2.0
871464,When You're in Love,1937,Cary Grant,actor,Jimmy Hudson,2.0
871443,The Awful Truth,1937,Cary Grant,actor,Jerry Warriner,2.0
871453,The Toast of New York,1937,Cary Grant,actor,Nick Boyd,2.0
871459,Topper,1937,Cary Grant,actor,George Kerby,2.0
871408,Holiday,1938,Cary Grant,actor,Johnny Case,2.0
871394,Bringing Up Baby,1938,Cary Grant,actor,David,2.0
871413,In Name Only,1939,Cary Grant,actor,Alec Walker,2.0
871423,My Favorite Wife,1940,Cary Grant,actor,Nick Arden,2.0

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [102]:
cast.head(2)

             title  year      name   type character     n
0   Closet Monster  2015  Buffy #1  actor   Buffy 4  31.0
1  Suuri illusioni  1985    Homo $  actor    Guests  22.0

In [104]:
cast[(cast.name == "Cary Grant") & (cast.n == 1) & (cast.year <= 1940)].sort_values('year')

,title,year,name,type,character,n
871409,Hot Saturday,1932,Cary Grant,actor,Romer Sheffield,1.0
871404,Gambling Ship,1933,Cary Grant,actor,Ace Corbin,1.0
871415,Kiss and Make-Up,1934,Cary Grant,actor,Dr. Maurice Lamar,1.0
871417,Ladies Should Listen,1934,Cary Grant,actor,Julian De Lussac,1.0
871449,The Last Outpost,1935,Cary Grant,actor,Michael Andrews,1.0
871391,Big Brown Eyes,1936,Cary Grant,actor,Danny Barr,1.0
871442,The Amazing Quest of Ernest Bliss,1936,Cary Grant,actor,Ernest Bliss,1.0
871406,Gunga Din,1939,Cary Grant,actor,Cutter,1.0
871431,Only Angels Have Wings,1939,Cary Grant,actor,Geoff Carter,1.0
871407,His Girl Friday,1940,Cary Grant,actor,Walter Burns,1.0
871448,The Howards of Virginia,1940,Cary Grant,actor,Matt Howard,1.0
871450,The Philadelphia Story,1940,Cary Grant,actor,C. K. Dexter Haven,1.0

### How many roles were available for actors in the 1950s?

In [106]:
len(cast[(cast.type == 'actor') & (cast.year == 1950)])

16760

### How many roles were available for actresses in the 1950s?

In [113]:
cast[(cast.type == 'actress') & (cast.year < 1960) & (cast.year >= 1950)].character.count()

57733

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [109]:
len(cast[(cast.n == 1) & (cast.year <= 1980)])

65140

### How many non-leading roles were available through from the beginning of film history through 1980?

In [110]:
len(cast[(cast.n != 1) & (cast.year <= 1980)])

1117667

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [111]:
len(cast[(cast.n.isna()) & (cast.year <= 1980)])

448347